# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# OS-specific files
.DS_Store
__MACOSX

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.o

#DOOM wads
*.WAD
*.wad
*.gwa
*.mid

# External Docs
doc/extern

# Non-VCS/Experimental Code
audio/misc
